<div class="user-panel">
	<ul class="actions-list">
		<li class="actions-list__item">
			{{user.name}}
		</li>
		<li class="actions-list__item">
			{{#if user.logged}}
			<a class="actions-list__link" href="/logout">
				logout
			</a>
			{{else}}
			<a class="actions-list__link" href="/logme">
				logme
			</a>
			{{/if}}
			<a class="link" href="/addInventory">
				addInventory
			</a>
			<a class="link" href="/inventory">
				inventory
			</a>
		</li>
	</ul>
</div>