<!DOCTYPE html>
<html ng-app="APP">
<head>
	<title>{{title}}</title>
    {{> heads-import}}
</head>
<body>
<div class="message warning">{{user}}</div>

{{!-- handlebar comment--}}

{{{body}}}

</body>
</html>