<!DOCTYPE html>
<html ng-app="APP">
	<head>
		<title>{{title}}</title>
	    {{> heads-import}}
	</head>
	<body>
	{{> user-panel }}

	{{!-- handlebar comment--}}

	{{header}}

	{{{body}}}

	{{>footer}}

	</body>
</html>