<div class="add-inventory" ng-controller="inventoryController" ng-init="user='{{user.name}}'; secret='{{user.secret}}'">

	<div class="wrapper">
		<form role="form" id="formulario" ng-submit="add()" name="formulario" method="POST">
			<table class="add-form">
				<thead class="add-form__thead">
					<tr class="add-form__tr add-inventory__tr--head">
						<th class="add-form__th">Add Item Form</th>
					</tr>
					<tr class="add-form__tr add-inventory__tr--head">
						<div class="add-btn"><a class="btn btn-default " href="/inventory" role="button">Inventory</a></div>
					</tr>

					
				</thead>
				<tbody class="add-form__tbody">
					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="id">Id: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="text" ng-model="id" name="id" placeholder="Introduce Id Name">
						</td>
					</tr>

					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="item">Item: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="text" ng-model="item" name="item" placeholder="Introduce Item Name">
						</td>
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="brand">Brand: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="text"  ng-model="brand" name="brand" placeholder="Introduce Brand Name">
						</td>
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="quantity">Quantity: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="number" ng-model="quantity" name="quantity" placeholder="Introduce available Quantity">
						</td>
					</tr>
					<tr>
						<td>

							<button type="submit" class="btn btn-default pull-right">Submit</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

</div>