<div class="add-inventory">
	<div class="wrapper">
		<form role="form" id="formulario" name="formulario" onsubmit="process()" method="POST">
			<table class="add-form">
				<thead class="add-form__thead">
					<tr class="add-form__tr add-inventory__tr--head">
						<th class="add-form__th">Add Item Form</th>
					</tr>
				</thead>
				<tbody class="add-form__tbody">
					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="id">Id: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="text" name="id" placeholder="Introduce Id Name">
						</td>
					</tr>

					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="item">Item: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="text" name="item" placeholder="Introduce Item Name">
						</td>
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="brand">Brand: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="text" name="brand" placeholder="Introduce Brand Name">
						</td>
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<label for="quantity">Quantity: </label>
						</td>
						
					</tr>
					<tr class="add-form__tr">
						<td class="add-form__td">
							<input type="number" name="quantity" placeholder="Introduce available Quantity">
						</td>
					</tr>
					<tr>
						<td>
							<!--<input class="btn btn-default" type="submit" value="Submit">-->
							<!--<a href="#" class="btn btn-default" onClick="process()">Add</a>-->
							<button type="submit" class="btn btn-default">Submit</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>