<div class="posts" ng-controller="postsController" ng-init="user='{{user.name}}'; secret='{{user.secret}}'">

	<div class="wrapper">
		<div class="search-panel">
			<label for="search">Search:</label>
			<input type="text" ng-model="test" name="search">
		</div>

		<div class="columns">
			<div class="post " ng-repeat="article in posts | filter:test | orderBy:'item'">
				<article >
					<div class="clearfix" >
					  	<div class="image-container"><img src="<[article.img]>" alt=""/></div>
						<h2><[article.title]></h2>
					</div>
					<div>
						<p class="articleBody"><[article.newsBody]></p>
					</div>
					<a href="#" class="editArticle postAdminBtns">E</a>
					<a href="#" class="removeArticle postAdminBtns">X</a>
				</article>
			</div>
		</div>

	</div>
</div>

<!-- col-xs-12 col-sm-6 col-md-4 -->