.posts {
  margin: 20px 0px;

  .search-panel {
      margin-bottom: 20px;
      padding: 10px 0px;
      border-bottom: 1px solid #888;
  }

  .columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 2%;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 2%;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 2%;
    column-fill: auto;
  }

  .post {
    padding: 0 1%;
    margin-bottom: 6%;
    width: 100%;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;

    article {
      background-color: #d8d8dc;
      padding: 3%;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      position: relative;

      .articleBody {
        margin: 20px 20px;
      }

      .postAdminBtns {
        display: block;
        position: absolute;

      }
      .removeArticle {
        top: 40px;
        right: -4px;
      }
      .editArticle {
        top: 15px;
        right: -4px;
      }

      .image-container, h2 {
        float: left;
      }

      .image-container {
        width: 35%;

        img {
          max-width: 100%;
        }
      }

      h2 {
        font-size: 20px;
        font-family: "Helvetica Neue Bold", "HelveticaNeue-Bold", "Helvetica Neue", Calibri, Helvetica, Arial;
        padding: 2px 20px 0 20px;
        width: 65%;
      }

    }



  }

}